.container-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.container-section {
    flex: 1;
}

.products-card {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    flex-wrap: nowrap;
    justify-content: center;
    max-width: 1400px;
    margin: 0 auto;
}

.card {
    flex: 0 0 auto;
    width: 240px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color: #fff;
    border-radius: 25px;
    padding: 15px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 150px; 
    height: auto;
    border: 1px solid #ccc;
    padding: 20px; 
    border-radius: 5px;
    margin-bottom: 30px; 
}

.card p {
    text-align: center;
    margin: 0 auto;
    line-height: 1.8; 
    border: 1px solid #ccc;
    padding-bottom: 20px;
    color: #333;
}


@media (min-width: 1200px) {
    .card {
        width: 280px;
    }
    
    .card img {
        width: 180px;
    }
    
    .products-card {
        gap: 40px;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .card {
    width: 240px;
    }

    .card img {
        width: 160px;
    }
    
    .products-card {
        gap: 30px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .products-card {
        gap: 15px; 
    }
    
    .card {
        width: 220px; 
        padding: 12px; 
    }
    
    .card img {
        width: 120px; 
        padding: 15px; 
        margin-bottom: 20px; 
    }
    
    .card p {
        font-size: 0.9em; 
        line-height: 1.6;
    }
}


@media (max-width: 991px) {
    .products-card {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    
    .card {
        width: 100%;
        max-width: 280px;
    }
}
.crud {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 500px;
}
.crud img {
    width: 20px;
    height: auto;
    gap: 100px;
}
.crud-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.btn-update, .btn-delete {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-update {
    background-color: #4CAF50; 
    color: white;
}

.btn-delete {
    background-color: #ef8e87; 
    color: white;
}

.btn-update img, .btn-delete img {
    width: 16px;
    height: 16px;
}
