.footer {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #202027;
    width: 100vw;
    height: auto;
}

.contact {
    display: flex;
    gap: 20px;
    color: #fff;
}

.social {
    display: flex;
    gap: 20px;
    color: #fff;
    
    .twitter {
        display: flex;
        gap: 10px;
    }
    .facebook {
        display: flex;
        gap: 10px;
    }
}
