.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    background-color: #202027;
    flex-shrink: 0
  }

.contact {
    display: flex;
    gap: 20px;
    color: #fff;
}

.social {
    display: flex;
    gap: 20px;
    color: #fff;

    .twitter {
        display: flex;
        gap: 10px;
    }

    .facebook {
        display: flex;
        gap: 10px;
    }
}