button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    border-radius: 15px;
    color: #fff;
    padding: 10px 20px; 
    margin: 30px auto 0; 
    border: none;
    cursor: pointer;
}
